<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/game/default}">
<head>

<title layout:fragment="title">리뷰작성</title>
	<th:block layout:fragment="css"></th:block>
	<th:block layout:fragment="script"></th:block>
</head>

<div layout:fragment="main" id="main">
	<h2>리뷰 작성</h2>
	<form method="get" action="/gamePost/review" th:object="${gameReviewDto}" >
		작성자 : <input type="text" th:field="*{writer}" readonly="readonly"> <br>
			<!-- readonly는 말 그대로 해당 데이터필드의 값을 변경하지 못하는 거 -->
		제목 : <input type="text" th:field="*{title}"> <br>
			<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
			
		게임이름 : <input type="text" th:field="*{gameName}"><br>
			<p th:if="${#fields.hasErrors('gameName)}" th:errors="*{gameName}"></p>	
				
		공략내용 : <textarea th:field="*{targetPost}"></textarea>
			<p th:if="${#fields.hasErrors('targetPost')}" th:errors="*{targetPost}"></p>
			
	
		<button>작성</button>
	</form>
</div>
</html>