<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title layout:fragment="title">Insert title here</title>
    <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous">
    </script>
<link rel = "stylesheet" href="/css/default.css">
<script src = "/js/default.js"></script>
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>
</head>
<body>
	<div id="wrap">
		<th:block th:replace="movie/header :: headerFrag"></th:block>
		<th:block layout:fragment="main"></th:block>
		<th:block th:insert="movie/footer :: footFrag"></th:block>
	</div>
</body>
</html>

<!-- 타임리프 레이아웃 사용법

	-기본 레이아웃 페이지와 여러 템플릿 페이지로 구성
	☆구성 : head, body의 html 기본 구성요소
	☆역할 : 사용자에게 제공되는 실제 페이지 = 기본 세팅이 필요
	☆필요 요소 : 템플릿 페이지가 적용 될 수 있는 영역을 설정



 -->